img{
    height: 600px;
    width: 800px;
}

.youTubeVideos1{
    margin-right: 2vh;
}

.youTubeVideos2{
    margin-right: 2vh;
}
.youTubeVideos3{
    margin-right: 2vh;
}
.youTubeVideos4{
    margin-right: 2vh;
}

.carousel{
    margin-top: 5vh;
}

figure{
    border: 1px solid red;
    margin-right: 2vh;
    height: 20vh;
}

form button{
    margin-right: 1vh;
}

.video-container{
    margin-top: 10vh;
    margin-bottom: 10vh;
}

footer h2{
    text-align: center;
    font-size: 2vh;
}

.wikiLink{
    text-align: center;
    font-size: 5vh;
    margin-bottom: 10vh;
}

.wikImgLink{
    height: 20vh;
    width: 20vh;
}