/* Done by Hannah H. */

:root {
  --blue: #0c3559;
  --darkblue: #092640;
  --seablue: #687b8c;
  --lightseablue: #aab9bf;
  --light: #f2f2f2;
}

figure {
  border: 1px solid red;
  display: none;
}

body {
  background-color: var(--lightseablue);
}

header {
  background-color: var(--lightseablue);
}

#navbarNav {
  justify-content: end;
}

#infoBar {
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  color: rgb(168, 43, 101);
  font-size: 2vh;
  font-family: 'Dancing Script', cursive;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Noto Sans Mono', monospace;
  font-family: 'Oswald', sans-serif;
}
#infoBar:hover{
  color: #5f0899;
  font-size: 2.5vh;
}


#searchbar {
  text-align: center;
  background-color: var(--seablue);
  margin-bottom: 5vh;
  padding-bottom: 5vh;
}

#bar {
  margin-top: 2vh;
  margin-bottom: 1vh;
  height: 5vh;
  padding-left: 5vh;
  padding-right: 5vh;
  border-radius: 10px;
}

#headTopic h2 {
  text-align: center;
  color: white;
}