/* Done by Hannah H. */

:root {
  --blue: #0c3559;
  --darkblue: #092640;
  --seablue: #687b8c;
  --lightseablue: #aab9bf;
  --light: #f2f2f2;
}

figure {
  border: 1px solid red;
  display: none;
}
body{
  background-color: var(--lightseablue);
}
header{
  background-color: var(--lightseablue);
}
#navbarNav {
  justify-content: end;
}

#infoBar {
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(168, 43, 101);
  font-size: 2vh;
}

#searchbar{
  text-align: center;
  background-color: var(--seablue);
  margin-bottom: 5vh;
  padding-bottom: 5vh;
}

#bar{
  margin-top: 2vh;
  margin-bottom: 1vh;
  height: 5vh;
  padding-left: 5vh;
  padding-right: 5vh;
}

#headTopic h2{
  text-align:  center;
  color: white;
}
