/* done by Abed H. */

.card{
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-right: 2vh;
    margin-left: 2vh;
}
.card-body{
    text-align: center;
}

#historyContainer{
    margin-top: 5vh;
}
#headHistory{
    text-align: center;
    color: white;
    margin-bottom: 3vh;
}
ul{
    text-align: center;
}
ul li{
    margin-right: 2vh;
    margin-left: 2vh;
    margin-bottom: 2vh;
}


figure{
    margin-right: 2vh;
    margin-left: 2vh;
}

.youTubeVideos{
    margin-bottom: 10vh;
}

.error-msg{
    color: rgb(95, 12, 12);
    margin-top: 5vh;
    display: none;
}